@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 47.4% 11.2%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
    }

    .dark {
        --background: 224 71% 4%;
        --foreground: 213 31% 91%;
        --card: 224 71% 4%;
        --card-foreground: 213 31% 91%;
        --muted: 223 47% 11%;
        --muted-foreground: 215.4 16.3% 56.9%;
    }

    body {
        background-color: hsl(var(--background));
        color: hsl(var(--foreground));
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}

/* Sobrescribir clases conflictivas */
@layer utilities {
    .bg-white {
        background-color: hsl(var(--card)) ;
    }
    .text-gray-800 {
        color: hsl(var(--foreground)) ;
    }
    .hover\:bg-gray-100:hover {
        background-color: hsl(var(--muted)) ;
    }
    .bg-gray-100 {
        background-color: hsl(var(--muted)) ;
    }
    .bg-gray-50 {
        background-color: hsl(var(--muted)) ;
    }
}